#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head {
    font-size: 5vh;
}

#logo {
    text-align: center;
    width: 100%;
}

/*
Class text Style
*/
.text-cont {
    width: 60%;
    flex-grow: 1;
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

#pie-chart {
    flex-grow: 4;
}

