#caixa {
	width: 300px;
	height: 300px;
	background: url(../img/photo.jpg);
	background-size: cover;
	transition: width 3s, height 4s;
	/*transition-delay: 1s;*/
}

#caixa:hover {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	/*transition: width 3s, background 3s;*/
}