body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset{
	margin: 1em 0;
	padding: 1em;
	background: #f8f8f8;
}

legend{
	font-weight: bold;
}

label{
	display: block;
	cursor: pointer;
}

input[type='text']{
	width: 200px;
}

textarea{
	width: 20em;
	height: 10em;
}
